<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!--Handle History Mode and custom 404/500-->
        <!--處理vue router的iis設定，勿動-->
        <rule name="productPlan_components_share_404" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/productPlan/components_share/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
